.container {
	display: grid;
	grid-template-columns: repeat(11, 150px);
	max-width: inherit;
	max-height: fit-content;
	margin: 0;
	background-color: #34A0A4;
	box-shadow: 5px 5px #168AAD, -5px -5px #168AAD;
	box-sizing: initial;
}
    

    



    .centeredDiv{
        padding: 50px;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: #212121;
    }
    .homeRect{
        padding: 50px;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: #212121;
        width: max-content;
    }
    .gothic{
        font-family: 'jacquard 12';
        font-size: 60px;
    }

    .yellowLetters{

        font-family: 'jersey 10';
        font-size: 60px;
        color: #fbca1f;
        text-shadow: -3px -3px 0 black, 3px -3px 0 black,
               -3px 3px 0 black, 3px 3px 0 black;
    }
    
    .gothic-little{
        font-family: 'jacquard 12';
        font-size: 30px;
    }

    .vertical{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left:  5%;
    margin: 3%;
    }
    .casilla-ext{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
    margin-left:  0;
    margin: 0;
    }

    
    .centered{
        display: grid;
        align-items: center;
        align-content: center;
        padding: 20px;
    }
/* From Uiverse.io by adamgiebl */ 
button {
  background: #fbca1f;
  font-family: 'jersey 10';
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 24px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


.horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  5%;
    margin: 3%;
    

}
    
.outside{

    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    
    padding: 200px;

}
.margin{
    padding: 30px;
}
.interiorFormDiv{
  display: flex; /* Convierte el div en un contenedor flex */
  flex-direction: column;
  justify-content: space-between;
  /* Por defecto, los elementos se colocan en fila (flex-direction: row) */
  /* Si quieres que se pongan en columna y ocupen el alto: */
  /* flex-direction: column; */

  width: 100%; /* El contenedor debe tener un ancho o alto definido */
  height: 100%; /* Opcional: Define una altura para que los elementos se estiren verticalmente si es columna */
}



.elemento-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.insideLeft{
    color: #fbca1f;
    text-shadow: -3px -3px 0 black, 3px -3px 0 black,
               -3px 3px 0 black, 3px 3px 0 black;
    font-family : 'jersey 10';
    font-size: 30px;
    padding-right: 10px;
}





    .table {
	display: grid;
	grid-template-columns: repeat(8, 200px);
	row-gap: 10px;
	padding: 5px;
	max-width: fit-content;
	/* margin: 0; */
	background-color: #76C893;
	column-gap: 42px;
	box-shadow: -5px -5px #52B69A, 5px 5px #52B69A;
}

.table > :not(caption) > * > * {
	padding: .5rem .5rem;
	color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
	background-color: #c7f9cc;
	border-bottom-width: var(--bs-border-width);
	box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
}

select {
	word-wrap: normal;
	background-color: #41B569;

}

.casilla-inicio {
	display: flex;
	flex-direction: column;
	background-color: #41B569;
}
.casilla{
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

p{
    background-color: transparent;
}
.table-body{

    display: flex;
    flex-direction: column;
    background-color: #1A759F;

}
.meses{
    display: grid;
    grid-template-columns: repeat(3,180px);
}


body{
    background-color : #2C3E50;
}

.inp {
  width: 100%;
  height: 60px;
  padding: 12px;
  font-size: 24px;
  font-family: "jersey 10", monospace;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 #000;
  
}
.inp::placeholder {
  color: #888;
}



    
