.container {
	display: grid;
	grid-template-columns: repeat(11, 150px);
	max-width: inherit;
	max-height: fit-content;
	margin: 0;
	background-color: #34A0A4;
	box-shadow: 5px 5px #168AAD, -5px -5px #168AAD;
	box-sizing: initial;
}
    

    



    .centeredDiv{
        padding: 50px;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: #C48B5C;
        box-shadow: inset -4px -4px #7A4B25;
    }
    .gothic{
        font-family: 'jacquard 12';
        font-size: 60px;
    }
    
    .gothic-little{
        font-family: 'jacquard 12';
        font-size: 30px;
    }

    .vertical{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left:  5%;
    margin: 3%;
    }
    .casilla-ext{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
    margin-left:  0;
    margin: 0;
    }

    
    .centered{
        display: grid;
        align-items: center;
        align-content: center;
        padding: 20px;
    }
button {
  font-family: 'jacquard 12';
  font-size: 30px;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: #916844;
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #C48B5C,
    inset -2px -2px #C48B5C,
    inset 2px 2px #7A4B25;
  letter-spacing: 2px;
  padding: 15px 40px;
  
}

button:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}


.horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  5%;
    margin: 3%;
    

}
    
.outside{

    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    
    padding: 200px;

}
.margin{
    padding: 30px;
}
.interiorFormDiv{
  display: flex; /* Convierte el div en un contenedor flex */
  flex-direction: column;
  justify-content: space-between;
  /* Por defecto, los elementos se colocan en fila (flex-direction: row) */
  /* Si quieres que se pongan en columna y ocupen el alto: */
  /* flex-direction: column; */

  width: 100%; /* El contenedor debe tener un ancho o alto definido */
  height: 100%; /* Opcional: Define una altura para que los elementos se estiren verticalmente si es columna */
}



.elemento-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.insideLeft{
    font-family: 'jacquard 12';
    font-size: 30px;
    padding-right: 10px;
}





    .table {
	display: grid;
	grid-template-columns: repeat(8, 200px);
	row-gap: 10px;
	padding: 5px;
	max-width: fit-content;
	/* margin: 0; */
	background-color: #76C893;
	column-gap: 42px;
	box-shadow: -5px -5px #52B69A, 5px 5px #52B69A;
}

.table > :not(caption) > * > * {
	padding: .5rem .5rem;
	color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
	background-color: #c7f9cc;
	border-bottom-width: var(--bs-border-width);
	box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
}

select {
	word-wrap: normal;
	background-color: #41B569;

}

.casilla-inicio {
	display: flex;
	flex-direction: column;
	background-color: #41B569;
}
.casilla{
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

p{
    background-color: transparent;
}
.table-body{

    display: flex;
    flex-direction: column;
    background-color: #1A759F;

}

    
