<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    
    <link rel= "preconnect" href="https://fonts.googleapis.com">
    <link rel= "stylesheet" href="/css/helloPageStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Michroma&display=swap" rel="stylesheet">
</head>

<body class = "body" Style = "background-color : #2C3E50";>
<div class = "outside">
    <div class="homeRect">
        
        <div>
            <p class = "yellowLetters">Estado de objetivos mensuales e Historicos</p>
        </div>
        <div class="horizontal">
            <div class="margin">
                <button type="button" id="acces"> Acceso tienda </button>
            </div>
            <div class="margin">
                <button type="button" id="register"> Registrar tienda </button>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
        const btnRegister = document.getElementById('register');
        const btnAcces = document.getElementById('acces');
    if (btnRegister) {
        btnRegister.addEventListener('click', function() {
        window.location.href = '/register';
        });
    }

    if (btnAcces) {
            btnAcces.addEventListener('click',function() {
            window.location.href = '/login';
            });
    }
});

</script>

</body>
</html>
