<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>

</head>
<style>
    .centeredDiv{
        width: auto;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: bisque;
    }
    .HorizontalDiv{

        display: flex;
        width: auto;
        margin: auto;
        padding: 20px;
        text-align: center;
        background-color: blanchedalmond;

    }
    .horizontalContent{
        background-color: aquamarine;
        width: auto;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    

    }

</style>

<div class="centeredDiv">
<p>Consulta de objetivos mensuales e historicos</p>
</div>

<div class="HorizontalDiv">
    <div class="horizontalContent">
    <button>Accede a tu tienda</button>
    </div>
    <div class="horizontalContent">
    <button>crea el perfil de tu tienda</button>
    </div>
</div>

</body>
</html>