<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Michroma&display=swap" rel="stylesheet">
    
    
    <link rel= "stylesheet" href="/css/helloPageStyles.css">
</head>




<body class = "body">
<div class = "outside">
    <div class="centeredDiv">
        
        <div>
            <p class = "yellowLetters">Buenas ventas, {{username}}</p>
        </div>
            <div class="horizontal">
                <div class="margin">
                <button style="font-size:32px" type="button" id="graphs"> Graficas </button>
                </div>
                <div class="margin">
                <button style="font-size:32px" type="button" id="objectives"> Objetivos </button>
                </div>
                <div class="margin">
                <button style="font-size:32px" type="button" id="logout"> Logout </button>
                </div>
                
            </div>
    </div>
</div>
    



    <!-- JavaScript de Bootstrap desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    <!-- El script debe ir al final del body para asegurar que el DOM esté listo -->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const btnGraphs = document.getElementById('graphs');
        const btnObjective = document.getElementById('objectives');
        const btnLogout = document.getElementById('logout');
        if (btnGraphs) {
            btnGraphs.addEventListener('click', function() {
            window.location.href = '/graphs';
            });
        }

        if (btnObjective) {
            btnObjective.addEventListener('click',function() {
            window.location.href = '/years';
            });
        }

        if (btnLogout) {
            btnLogout.addEventListener('click',function() {
            window.location.href = '/logout';
            });
        }
        });
    </script>

</body>
</html>
