<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    <!-- CSS de Bootstrap desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel= "preconnect" href="https://fonts.googleapis.com">
    <link rel= "preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href= "https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href="/css/helloPageStyles.css">
</head>





<body>
<div style="display:grid; box-shadow: inset 0px -5px #1E6091; background-color: #184E77;">
<p class = "gothic">{{month.name}}</p>
</div>
    <form action="" method="POST" class ="table-body">
        
        <div class = "container">
       
            <div>
                <p>Objetivo</p>
                <input type="text" name="objective"  value="{{month.goal}}" style="max-width: 100px">
            </div>
            <div>
                <p>ventas manana:</p>
                <p>{{totalmorningsells}}</p>
            </div>
            <div>
                <p>ventas tarde:</p>
                <p>{{totalafternoonsells}}</p>
            </div>
            <div>
                <p>ventas totales:</p>
                <p>{{totalsells}}</p>
            </div>
            <div>
                <p>media de ventas:</p>
                <p>{{averagesells}}</p>
            </div>
            <div>
                <p>media de manana:</p>
                <p>{{averagemorningsells}}</p>
            </div>
            <div>
                <p>media de tarde:</p>
                <p>{{averageafternoonsells}}</p>
            </div>

            <div>
                <p>media laborales:</p>
                <p>{{averagebdsells}}</p>
            </div>
            <div>
                <p>media festivos:</p> 
                <p>{{averagehdsells}}</p>
            </div>
            <div>
                <p>dias esperados:</p> 
                <p>{{remainingDays}}</p>
            </div>
            
            <div>
                <p>laborales restantes:</p> 
                <p>{{bdDaysToPass}}</p>
            </div>

            <div>
                <p>no laborales restantes:</p> 
                <p>{{hdDaysToPass}}</p>
            </div>


            <div>
                <p>v. laborales necesarias:</p> 
                <p>{{bdSellsNeeded}}</p>
            </div>
            <div>
                <p>v. no laborales necesarias:</p> 
                <p>{{hdSellsNeeded}}</p>
            </div>
            

            <div>
                <p>ventas restantes:</p> 
                <p>{{remainingSells}}</p>
            </div>


        </div>
        
<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
<input type="hidden" name="monthId" value="{{month.Id}}">
        <div class="table">
            <div class="casilla-inicio">
                <h4 style="background-color: transparent; margin: 0; padding: 5px;">ventas manana</h4>
                <h4 style="background-color: transparent;  margin: 0; padding: 5px;">ventas tarde</h4>
                <h4 style="background-color: transparent; margin: 0; padding: 5px;">ventas totales</h4>
                        
            </div>
                {{#month.days}}
            <div class= "casilla-ext">

                <div class="casilla">
                    <input type="text" class="inputs-interiores" name="morningSells"  value="{{morningSells}}">
                    <input type="text" class="inputs-interiores" name="afternoonSells"  value="{{afternoonSells}}">
                    <input type="text" class="inputs-interiores" name="totalSells"  value="{{totalSells}}">
                    
                </div>
                <div Style="display:flex; flex-direction:row; justify-content:space-between; height:40px;">
                    
                    <div Style="width:-moz-available; border: 1px solid grey;">
                    <p>
                        dia {{dayNumber}}
                    </p>
                    </div>
                    
                    <select name="holiday">
                        <option value="false">laboral</option>
                        <option value="true" {{selected}}>no laboral</option>
                    </select>
                    
                </div>
            </div>
        
                {{/month.days}}
        </div>    
            <div>
                <button type="submit">cargar</button>
                <button type="button" id="retroceder"> retroceder </button>
                <button onclick="copiarDatos()">Copiar para Historico</button>

            </div>
    </form>
            <
                

   

                

</div>

    <!-- JavaScript de Bootstrap desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    
    <!-- El script debe ir al final del body para asegurar que el DOM esté listo -->
    <script>
    const btnBack = document.getElementById('retroceder');

    if (btnBack) {
            btnBack.addEventListener('click',function() {
            window.location.href = '/years';
            });
        }




  function copiarDatos() {
    const datos = [{{#month.days}}{{totalSells}},{{/month.days}},{{totalsells}}];
    
    
    
     // tus números
    const texto = datos.join('\n'); // separa por saltos de línea

    // Crea un elemento temporal para copiar
    const temp = document.createElement('textarea');
    temp.value = texto;
    document.body.appendChild(temp);
    temp.select();
    document.execCommand('copy');
    document.body.removeChild(temp);

    alert('¡Datos copiados al portapapeles!');
  }

    </script>

</body>
</html>
