<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
    <!-- CSS de Bootstrap desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel= "preconnect" href="https://fonts.googleapis.com">
    <link rel= "preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href= "https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href="/css/helloPageStyles.css">
</head>





<body class = "body">
<div display="body-table">
        <div>
            <p class = "gothic">pantalla de tabla</p>
        </div>
            <form action="" method="POST" class= "table">
                <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
                <input type="hidden" name="monthId" value="{{month.Id}}">
                
                {{#month.days}}
                <div class="vertical">
                    <input type="text" name="totalSells"  value="{{totalSells}}">
                    <input type="text" name="morningSells"  value="{{morningSells}}">
                    <input type="text" name="afternoonSells"  value="{{afternoonSells}}">

                    

                    <select name="holiday">
                        <option value="false">laboral</option>
                        <option value="true">finde</option>
                        <option value="true">festivo</option>
                
</select>
                </div>    
                {{/month.days}}
                
                <button type="submit">cargar</button>
            </form>

    

</div>

    <!-- JavaScript de Bootstrap desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    <!-- El script debe ir al final del body para asegurar que el DOM esté listo -->
    <script>
    
    </script>

</body>
</html>
